#root {
  margin: 0 auto;
  text-align: center;
  max-width: 1200px;
}

.cards {
  display: grid;
  gap: 1rem;
}

.card {
  padding: 2em;
  flex-grow: 1;
  flex-basis: 0;
}

@media (min-width: 600px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 900px) {
  .cards {
    grid-template-columns: repeat(3, 1fr);
  }
}
